---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$content-text-color:   #4A4A4A;
$background-color:     #FFFFFF;
$brand-color-dark:     #0057B8;
$brand-color-light:    #01A9E0;

$primary-action-color: #BD10E0;
$secondary-action-color: #9B9B9B;

$title-color: $background-color;
$title-color-hover: $background-color;

// Width of the content area
$content-width:     900px;

$on-palm:           600px;
$on-laptop:         900px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

* {
	box-sizing: border-box !important;
}

body {
	font-family: $base-font-family;
	font-weight: 400;
	font-size: $base-font-size;
	background-color: $background-color;
	color: $content-text-color;

	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
}

body.hero {
	background-color: $brand-color-dark;
}

a {
	color: inherit;
	text-decoration: underline;
}

.fact-fiction {
	color: $brand-color-dark;
}

.primary-action,
.secondary-action {
	padding: 10px 16px;
	display: inline-block;
	margin: 2px;
	font-weight: 500;
	border-radius: 4px;
}

.secondary-action,
a.secondary-action,
a.secondary-action:visited
{
	color: $content-text-color;
	background-color: $background-color;
	border: 2px $secondary-action-color solid;
	text-decoration: none;
}

.primary-action,
a.primary-action,
a.primary-action:visited
{
	color: $background-color;
	background-color: $primary-action-color;
	border: 2px $primary-action-color solid;
	text-decoration: none;
}

/* Main page */

// For sharing, Fix alignment
.sharing-links > * {
	vertical-align: bottom !important;
}
span.sharing-links {
	display: inline-block;
}
div.post-meta {
	margin-bottom: 1em;
}

/*Content Styles */
div.page-content {
	flex: auto;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 0;
}

/*Homepage */
.home {
	background-color: $brand-color-dark;
	overflow-y: auto;
	overflow-x: hidden;
}

.home .post-list li {
	display: block;
	margin-bottom: 1em;
}

span.wrapper {
	display: block;
}

a.post-link {
	font-size: 2.25em;
	font-weight: 700;
	padding: 2px 5px;
}

a.post-link,
a.post-link:visited {
	color: $title-color;
	background-color: transparent;
	text-decoration: none;
}

a.post-link:hover {
	color: $title-color-hover;
	text-decoration: none;
	background-color: $brand-color-light;
}

header.home-header {
	color: $title-color;
	font-size: 0.75em;
	transition-duration: 1s;
	transition-property: font-size, padding-top, padding-bottom, margin-bottom, font-weight, height, min-height;
	transition-timing-function: ease-in;

	width: 100%;
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	min-height: 0;
}
header.home-header h1 {
	margin-bottom: 0;
	transition-duration: 1s;
	transition-property: font-weight;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
}

header.hero {
	font-size: 3em;
	min-height: 100vh;
	margin-bottom: 10em;
}

header.hero h1 {
	font-weight: 700;
}

@include media-query($on-palm) {
	a.post-link {
		font-size: 2em;
	}

	.home h2 .post-link {
		font-size: 1.1em;
	}
	.sharing-links {
		display: none;
	}

	header.hero {
		font-size: 2.25em;
	}
}

/* Issues page styles */
header.post-header {
	background-color: $brand-color-light;
	color: $title-color;
	margin-bottom: 0;
	padding-top: 0.5em;
	font-size: 7vmin;
	flex: 0 1 auto;
}

@media screen and (min-width: $on-laptop + $spacing-unit * 20) {
	header.post-header .wrapper {
		margin-left: $spacing-unit * 10;
		margin-right: $spacing-unit * 10;
		max-width: none;
	}
}

header.post-header h1 {
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	padding-left: 1em;
	text-indent: -1em;
}

.back-to-home {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;

	background: url('../img/back-caret.svg') no-repeat;
	background-size: cover;
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);

	width: 1em;
	height: 1em;
}

.post .post-header .post-title {
	display: inline-block;
	color: $title-color;
	font-weight: 700;
	font-size: 2.5em;
	background-color: $brand-color-light;
	padding: 8px 5px;
}

 @include media-query($on-palm) {
    .post .post-header .post-title {
		font-size: 2em;
     }
 }

 .post {
	 margin-left: $spacing-unit * 4;
 }
 @include media-query($on-laptop) {
	 .post {
		 margin-left: $spacing-unit * 4;
	 }
 }
 @include media-query($on-palm) {
	 .post {
		 margin-left: $spacing-unit;
	 }
 }

article.post-content p {
	font-size: 1.15em;
    color: $content-text-color;
}

article.post-content>p:first-child,
article.post-content>p:nth-child(2) {
	font-weight: 300;
	color: $brand-color-dark;
}

/* Footer styles*/
footer.site-footer {
	height: auto;
	border: none;
	background-color: $background-color;
	font-weight: 400;
	padding-top: $spacing-unit/2;
	padding-bottom: $spacing-unit/2;
	font-size: 0.95em;
}

footer.site-footer p { margin-bottom: 0; padding-bottom: 0; }

footer.site-footer a{
	font-weight: 600;
	color: inherit;
	text-decoration: underline;
}

footer.site-footer a:hover{
	text-decoration: none;
}

@include media-query($on-palm) {
    footer.site-footer {
		font-weight: 400;
    }
}
