<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '585977871590212',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script src="//platform.twitter.com/widgets.js" charset="utf-8" async defer></script>
<script src="//apis.google.com/js/platform.js" async defer></script>
