<footer class="site-footer">

  <div class="wrapper">

<!--    <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
<!--          <li>{{ site.title }}</li> -->
          <li>Built by <a href="https://devprogress.us/">DevProgress</a>. We are volunteers creating tools to help elect Hillary Clinton and other Democratic and progressive candidates.</li>
        </ul>
      </div>

  </div>

</footer>
