<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | capitalize | append: site.title_postfix }}{% else %}{{ site.title }}{% endif %}</title>
  <!--
 ____             ____
|  _ \  _____   _|  _ \ _ __ ___   __ _ _ __ ___  ___ ___  _   _ ___
| | | |/ _ \ \ / / |_) | '__/ _ \ / _` | '__/ _ \/ __/ __|| | | / __|
| |_| |  __/\ V /|  __/| | | (_) | (_| | | |  __/\__ \__ \| |_| \__ \
|____/ \___| \_/ |_|   |_|  \___/ \__, |_|  \___||___/___(_)__,_|___/
                                  |___/
 xxxxxxxxxxxxxxxxxxxxxxx
x                     //x
x   xxxxxxxxxxxxxxxxx///x   We are volunteers using our skills and expertise
x  x                 x//x   to create tech tools to help elect Hillary
x  x                 x//x   Clinton and other Democratic and progressive
x  x     .           x//x   candidates. We are coders, designers, leaders,
x  x  __.'.__        x//x   writers, mentors, and researchers. Each project
x  x '-.   .-'       x//x   we work on focuses on an app, service, data
x  x   /.'.\         x//x   resource, or other technology to advance the
x  x   '   '         x//x   cause. We are a team — join us!
x   xxxxxxxxxxxxxxxxx///x
x///////////////////////x   http://DevProgress.us
 xxxxxxxxxxxxxxxxxxxxxxx

  -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="manifest" href="/manifest.json">

  <meta name="theme-color" content="#0057B8">

  <!-- Android manifest fallback -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ title_short }}">

  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="{{ title_short }}">

  <link rel="apple-touch-icon" href="/img/favicon-48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="/img/favicon-96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/img/favicon-192.png">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/css/main.css" |prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Facebook OpenGraph Metadata -->
  <meta property="fb:app_id"        content="585977871590212" />
  <meta property="og:site_name"     content="{{ site.title }}" />
  <meta property="og:url"           content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:type"          content="{% if page.title %}article{% else %}website{% endif %}" />
  <meta property="og:title"         content="{% if page.title %}{{ page.title | capitalize | append: site.title_postfix }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description"   content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <!-- Twitter Cards Metadata -->
  <meta name="twitter:title"        content="{% if page.title %}{{ page.title | capitalize | append: site.title_postfix }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:card"         content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:url"          content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Images -->
  {% if page.image %}
  <meta property="og:image"  content="{{ page.image | prepend: '/img' | prepend: site.url }}" />
  <meta name="twitter:image" content="{{ page.image | prepend: '/img' | prepend: site.url }}" />
  {% elsif page.sharing_image %}
  <meta property="og:image"  content="{{ page.sharing_image | prepend: '/img' | prepend: site.url }}" />
  <meta name="twitter:image" content="{{ page.sharing_image | prepend: '/img' | prepend: site.url }}" />
  {% else %}
  <meta property="og:image"  content="{{ site.sharing_image | prepend: '/img' | prepend: site.url }}" />
  <meta name="twitter:image" content="{{ site.sharing_image | prepend: '/img' | prepend: site.url }}" />
  {% endif %}

  <script src="/anchor.min.js"></script>

  <script>

  'use strict';

  ~function() {

  document.addEventListener('DOMContentLoaded', function() {
    anchors.add();
  });

  if (!'serviceWorker' in navigator)
    return;

  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/service-worker.js');
  });

  }();

  </script>
  <script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83595614-5', 'auto');
  ga('send', 'pageview');

  </script>
</head>
