<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="hero">
    {% include body-js.html %}
    <script type="text/javascript">
    function ready(fn) {
      if (document.readyState != 'loading'){
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }

    ready(function() {

      var callback = function() {
        var heros;

        while ((heros = document.body.getElementsByClassName("hero")) && heros.length > 0) {
          var hero = heros[0];
          hero.className = hero.className.split(' ').filter(function(cls) { return cls != "hero"; }).join(' ');
        }
        document.body.onmousemove = null;
        document.body.onscroll = null;
        document.body.onkeydown = null;
      };

      document.body.onmousemove = callback;
      document.body.onscroll = callback;
      document.body.onkeydown = callback;

    });
    </script>
    <header class="home-header hero wrapper">
      <h1>I'd vote for Hillary, but...</h1>
    </header>
    <div class="home">
      {{ content }}
      {% include footer.html %}
    </div>
  </body>

</html>
