<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="hero">
    {% include body-js.html %}
    <header class="home-header wrapper">
      <h1>I'd vote for Hillary, but...</h1>
    </header>
    <script>

    ~function() {

      var header = document.body.querySelector('header');
      if (!header)
        return; // this is unlikely.

      var alwaysAnimate = location.search.indexOf('always_animate') >= 0;
      var shouldAnimate = !localStorage.getItem('animated');
      if (shouldAnimate) {
        localStorage.setItem('animated', "yes");
      }

      if (alwaysAnimate || shouldAnimate) {
        header.classList.add('animated-ease-in');
        header.classList.add('hero');
        onMotionDetected(toggleHeroAnimation);
      }

      function onMotionDetected(handler) {
        document.body.onmousemove = handler;
        document.body.onscroll = handler;
        document.body.onkeydown = handler;
      }

      function toggleHeroAnimation() {
        header.classList.remove('hero');
        onMotionDetected(null);
      }

    }();

    </script>
    <div class="home">
      {{ content }}
      {% include footer.html %}
    </div>
  </body>

</html>
