---
layout: default
---
<div class="post">

	{% if page.image %}
  <img src="/img/{{ page.image }}">
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>

  <div class="call-to-action">
    <p>
      <a class="primary-action" href="http://www.rockthevote.org/">Register to Vote</a>
      <a class="secondary-action" href="https://www.hillaryclinton.com/donate/?amount=10.00&utm_source=hillarymyths">Donate</a>
    </p>
    {% if site.feedback %}
    <p>
      <a class="not-convinced" href="#">I'm still not convinced</a>
      <form id="feedback" hidden action="{{ site.feedback.action }}" class="veiled" target="feedback-target" method="POST">
        <textarea name="{{ site.feedback.input }}" placeholder="Tell us more..." aria-label="Tell us more"></textarea>
        <input type="hidden" name="{{ site.feedback.url }}" value="{{ page.url }}">
        <button type="submit">Send</button>
        <iframe id="feedback-target" name="feedback-target"></iframe>
      </form>
      <div id="thank-you" hidden>Thank you for your submission!</div>
      <script>

      ~function() {

        var link = document.querySelector('.not-convinced');
        var form = document.querySelector('#feedback');
        var iframe = document.querySelector('#feedback-target');
        var thanks = document.querySelector('#thank-you');
        link.addEventListener('click', function(evt) {
          link.hidden = true;
          form.hidden = false;
          evt.preventDefault();
        })
        iframe.addEventListener('load', onSubmission);
        iframe.addEventListener('error', onSubmission);

        function onSubmission() {
          form.hidden = true;
          thanks.hidden = false;
        }

      }();

      </script>
    </p>
    {% endif %}
  </div>

  <div class="post-meta">
    <span class="sharing-links">{% include social-sharing.html %}</span>
    {% if page.author %} • {{ page.author }}{% endif %}
    {% if page.meta %} • {{ page.meta }}{% endif %}
  </div>

</div>
